*.o
*.dSYM
*.csv
*.out
*.png
*.jpg
*.pyc
old/
mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
darknet
.fuse*
*.so
*.a
setEnv.sh
backup1
backup_n
backup_person
backup*
bad.list
darknet53.conv.74
./Makefile
Makefile
# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
